@import url("https://fonts.googleapis.com/css2?family=Festive&family=Inter:wght@400;500;700&family=Nuosu+SIL&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* vh viewpot height-> full hight of the entire window */
  margin: 0;
  min-height: 100vh;
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  color: black;
  font-family: Nuosu SIL;
  font-weight: 700;
  text-align: center;
  display: flex;
  /* items vertically */
  align-items: center;
  /* items horizontally */
  justify-content: center;
}

.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 222, 0.4);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
  /* rems helps with repsonsive design */
  /* 1 rem = 16px */
  /* helps us maintain a consistent design */
  font-size: 2.75rem;
}

.long-quote {
  /* will turn this on and off in js when needed */
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.quote-author {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #333;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(241, 231, 254 0.65);
}

button:hover {
  filter: brightness(110%);
}

button:active {
  /* it will go down to the page by 0.3rem. Vertically. */
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(241, 231, 254 0.65);
}

.twitter-button:hover {
  color: #38a1f3;
}

.fa-twitter {
  font-size: 1.5rem;
}

/* Media Qyerey: */
/* want on screen and divices with min 1000px */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }

  .quote-text {
    font-size: 2.5rem;
  }
}
